@model Trung_Tâm_Dạy_Trẻ.Models.TblCourse

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sửa khóa học</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Sửa khóa học</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Edit">
                            <input type="hidden" asp-for="CourseId" />
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="CourseName">Tên khóa học</label>
                                    <input asp-for="CourseName" class="form-control">
                                    <span asp-validation-for="CourseName" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="Lessons">Số bài học</label>
                                    <input asp-for="Lessons" class="form-control">
                                    <span asp-validation-for="Lessons" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Lessons">Số bài học</label>
                                    <input asp-for="Lessons" class="form-control">
                                    <span asp-validation-for="Lessons" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="Tuition">Số học phí</label>
                                    <input asp-for="Tuition" class="form-control">
                                    <span asp-validation-for="Tuition" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="MaxStudents">Số lượng Học Sinh</label>
                                    <input asp-for="MaxStudents" class="form-control">
                                    <span asp-validation-for="MaxStudents" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Teacher">Giáo Viên</label>
                                    <input asp-for="Teacher" class="form-control">
                                    <span asp-validation-for="Teacher" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="TotalClassHour">Tổng Số Giờ Học</label>
                                    <input asp-for="TotalClassHour" class="form-control">
                                    <span asp-validation-for="TotalClassHour" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Image" class="control-label">Ảnh</label>
                                    <div class="input-group mb-3">
                                        <div class="input group-preprend">
                                            <button type="button" class="btn btn-success btn-round-pill" onclick="openDialog()">Choose a picture</button>
                                        </div>
                                        <input type="text" class="form-control" id="file_input" asp-for="Image" aria-describedby="button-addon2">
                                    </div>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description">Mô tả</label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                               

                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" asp-for="IsActive" /> Hiển thị
                                    </label>
                                </div>

                                <div class="d-flex mt-3">
                                    <div class="form-group mr-2">
                                        <button type="submit" class="btn btn-primary rounded-pill">Sửa</button>
                                    </div>

                                    <div class="form-group">
                                        <a class="btn btn-danger rounded-pill mr-3" asp-action="Index" asp-controller="Course">Quay Lại</a>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@{
    var summernote = new Trung_Tâm_Dạy_Trẻ.Areas.Admin.Models.SummerNote("#Description");
    <partial name="_SummerNote" model="summernote" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}