@model Trung_Tâm_Dạy_Trẻ.Models.TblMenu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xóa sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Xóa Menu</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Delete">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="Title">Title: </label>
                                    @Model?.Title
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description">Alias: </label>
                                    @Model?.Alias
                                </div>

                                <div class="form-group">
                                    <label asp-for="ParentId">Position:</label>
                                    @Model?.Position
                                </div>

                                <div class="form-group form-check">
                                    <label asp-for="IsActive">Hiện:</label>
                                    @Model?.IsActive
                                </div>

                                <div class="d-flex mt-3">
                                    <div class="form-group mr-2">
                                        <button type="submit" class="btn btn-primary rounded">Xóa</button>

                                    </div>

                                    <div class="form-group">
                                        <a class="btn btn-danger rounded mr-3" asp-action="Index">Quay Lại</a>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
