@model Trung_Tâm_Dạy_Trẻ.Models.TblTeacher

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xóa giảng viên</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Bạn có chắc chắn muốn xóa giảng viên này ?</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Delete">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="TeacherName">Tên giảng viên: </label>
                                    @Model?.TeacherName
                                </div>

                                <div class="form-group">
                                    <label asp-for="TeacherName">Kinh nghiệm: </label>
                                    @Model?.Experience
                                </div>

                                <div class="form-group">
                                    <label asp-for="TeacherName">Chuyên môn: </label>
                                    @Model?.Expertise
                                </div>

                                <div class="form-group">
                                    <label asp-for="TeacherName">Môn học giảng dạy: </label>
                                    @Model?.TeachingAssignment
                                </div>

                                <div class="form-group">
                                    <label asp-for="Image">Ảnh giảng viên: </label>
                                    <div class="mt-2">
                                        <img src="@Model?.Image" alt="Ảnh Khóa Học" class="img-fluid" style="max-width: 100px; height: auto;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="IsActive">Hiển Thị:</label>
                                    @if (Model?.IsActive == true)
                                    {
                                        <i class="fas fa-check-circle text-success"></i> <span>Hiển thị</span>
                                    }
                                    else
                                    {
                                        <i class="fas fa-times-circle text-danger"></i> <span>Không hiển thị</span>
                                    }
                                </div>

                                <div class="d-flex mt-3">
                                    <div class="form-group mr-2">
                                        <button type="submit" class="btn btn-primary rounded-pill">Xóa</button>
                                    </div>

                                    <div class="form-group">
                                        <a type="type" class="btn btn-danger rounded-pill mr-3" asp-action="Index">Quay Lại</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>